<nav>
  <div class="horizontal-flex justify-between align-center">
    <div
      class="logo"
      [class.home]="isHome"
      [@heroState]="{value: animationState, params: { delay: delay }}"
      (@heroState.done)="animationComplete($event)"
      (click)="goToHome()">
      <img src="/assets/logo.png" alt="">
    </div>
    <div class="links" [class.home]="isHome">
      <a class="home" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a class="home" [routerLink]="['/about']" routerLinkActive="active">About</a>
      <a class="home" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
    </div>
  </div>
</nav>
