nav {
  padding: 0 2.77vw;
  height: 6.9444vw;
  display: flex;
  align-items: center;
  > * {
    flex: 0 0 calc(100% - 2.7777vw);
  }

  @media (max-width: 600px) {
    height: 100px;

    .logo {
      max-height: 80%;
      width: auto;
    }

    .links {
      flex: 1 1;
      display: flex;
      justify-content: space-evenly;
    }

    a {
      font-size: 14px;
      &:not(:last-of-type) {
        padding-right: 0;
      }
      transition: color 0.6s;
    }
  }

  @media (max-width: 1000px) {
    .links {
      width: 700px;
    }
  }

  @media (max-width: 700px) {
    .links {
      width: 100%;
    }
  }
}

.logo {
  text-align: center;
  height: 11.11vh;
  padding: 2.2222vh 0 1.1111vh;
  position: relative;
  z-index: 99;
  cursor: pointer;
  will-change: transform, scale;
}

img {
  max-height: 100%;
  width: auto;
}

a:not(.cta) {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  height: 2.2222vw;
  width: 6.9444vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &.home {
    &:link, &:visited {
      color: #fff;
      text-decoration: none;
    }
    &:hover, &:active {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    &:link:not(.active), &:visited:not(.active) {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover:not(.active), &:active:not(.active) {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.links {
  opacity: 1;
  transition: opacity 0.6s ease-in;
  justify-content: space-around;
  max-width: 550px;
  &.home {
    opacity: 0;
    transition: opacity 0.6s ease-in;
  }
}

a.cta {
  @media (max-width: 700px) {
    display: none;
  }
}
