<div class="about-content about-content-granim">
  <h2>Hi, I'm a Student, a Freelancer, a Consultant and a Traveller from Nagpur, India.</h2>
  <h3>I am doing major in Electronics and Communications (Yeah, I know how strange this is my interest being in Computer Science. But, that's a story for another time) from an Engineering College here in Nagpur.</h3>
  <br>
  <br>
  <br>
  <h2>Before I got into development and coding, I was a full-time gamer.</h2>
  <h3>But that all changed when I was tasked to learn basic web development (Simple HTML/CSS) to build a website for a College Club I was in at the time. This was back in 2015.</h3>
  <br>
  <br>
  <br>
  <h2>And I haven't looked back ever since.</h2>
  <h3>This is more evident from the fact that I got a Macbook soon after, leaving my gaming life behind.</h3>
  <br>
  <br>
  <br>
  <h2>Now, I work as a Freelance Full-Stack Developer.</h2>
  <h3>Upwork being my primary source of work, I have worked on a wide range of projects. I also accept a few jobs that I get from connections of my friends and family.</h3>
</div>
