<div class="skills" [class.mobile]="isMobile">
  <ul class="lines" *ngIf="showSkills">
    <li class="line l--0">
      <span class="line__label title">
        Skill level
      </span>
    </li>
    <li class="line l--25">
      <span class="line__label">
        The basics
      </span>
    </li>
    <li class="line l--50">
      <span class="line__label">
        Advanced
      </span>
    </li>
    <li class="line l--75">
      <span class="line__label">
        Seasoned
      </span>
    </li>
    <li class="line l--100">
      <span class="line__label">
        Expert
      </span>
    </li>
  </ul>

  <div class="charts" *ngIf="showSkills">
    <div class="chart chart--dev">
      <span class="chart__title">Development</span>
      <ul class="chart--horiz">
        <li class="chart__bar" style="width: 98%;">
          <span class="chart__label">
            HTML5
          </span>
        </li>
        <li class="chart__bar" style="width: 93%;">
          <span class="chart__label">
            CSS3 & SCSS
          </span>
        </li>
        <li class="chart__bar" style="width: 82%;">
          <span class="chart__label">
            JavaScript
          </span>
        </li>
        <li class="chart__bar" style="width: 80%;">
          <span class="chart__label">
            Angular 2/4/5/6/7
          </span>
        </li>
        <li class="chart__bar" style="width: 35%;">
          <span class="chart__label">
            React + Redux
          </span>
        </li>
        <li class="chart__bar" style="width: 70%;">
          <span class="chart__label">
            TypeScript
          </span>
        </li>
        <li class="chart__bar" style="width: 88%;">
          <span class="chart__label">
            jQuery
          </span>
        </li>
        <li class="chart__bar" style="width: 80%;">
          <span class="chart__label">
            NodeJS
          </span>
        </li>
        <li class="chart__bar" style="width: 30%;">
          <span class="chart__label">
            KnockoutJS
          </span>
        </li>
        <li class="chart__bar" style="width: 50%;">
          <span class="chart__label">
            Grunt / Gulp / Webpack
          </span>
        </li>
        <li class="chart__bar" style="width: 70%;">
          <span class="chart__label">
            Golang
          </span>
        </li>
        <li class="chart__bar" style="width: 70%;">
          <span class="chart__label">
            MongoDB
          </span>
        </li>
        <li class="chart__bar" style="width: 90%;">
          <span class="chart__label">
            Firebase
          </span>
        </li>
        <li class="chart__bar" style="width: 51%;">
          <span class="chart__label">
            Unit Testing
          </span>
        </li>
        <li class="chart__bar" style="width: 62%;">
          <span class="chart__label">
            Swift
          </span>
        </li>
        <li class="chart__bar" style="width: 90%;">
          <span class="chart__label">
            Bootstrap
          </span>
        </li>
      </ul>
    </div>

    <div class="chart chart--prod" *ngIf="showSkills">
      <span class="chart__title">Tools & DevOps</span>
      <ul class="chart--horiz">
        <li class="chart__bar" style="width: 89%;">
          <span class="chart__label">
            Git + Github, Bitbucket & Gitlab
          </span>
        </li>
        <li class="chart__bar" style="width: 34%;">
          <span class="chart__label">
            CD/CI
          </span>
        </li>
        <li class="chart__bar" style="width: 34%;">
          <span class="chart__label">
            Docker
          </span>
        </li>
      </ul>
    </div>

    <div class="chart chart--design" *ngIf="showSkills">
      <span class="chart__title">Design</span>
      <ul class="chart--horiz">
        <li class="chart__bar" style="width: 40%;">
        <span class="chart__label">
          Web Designing
        </span>
        </li>
        <li class="chart__bar" style="width: 80%;">
        <span class="chart__label">
          Figma
        </span>
        </li>
        <li class="chart__bar" style="width: 67%;">
        <span class="chart__label">
          Photoshop
        </span>
        </li>
        <li class="chart__bar" style="width: 40%;">
        <span class="chart__label">
          Illustrator
        </span>
        </li>
        <li class="chart__bar" style="width: 30%;">
        <span class="chart__label">
          Sketch
        </span>
        </li>
      </ul>
    </div>
  </div>
</div>
