<app-stats *ngIf="showCounts"></app-stats>
<div class="scroll-magic">
  <div class="left" id="left1">
    <h1 [style.color]="textColor">Introduction</h1>
  </div>
  <div class="right" id="right1" #right1>
    <app-intro></app-intro>
  </div>
  <div class="left" id="left2">
    <h1>Technical Skills</h1>
  </div>
  <div class="right" id="right2" #right2>
    <app-skills [showSkills]="showSkills" [barColor]="barColor"></app-skills>
  </div>
  <div class="left" id="left3">
    <h1 [style.color]="textColor">Testimonials</h1>
  </div>
  <div class="right" id="right3" #right3>
    <app-testimonials></app-testimonials>
  </div>
  <div class="left" id="left4">
    <h1>Work History</h1>
  </div>
  <div class="right" id="right4" #right4>
    <app-work-history></app-work-history>
  </div>
</div>

