<div class="count-up" ngsReveal *ngIf="showCounts">
  <div class="horizontal-flex justify-between">
    <div class="vertical-flex">
      <h1 [countUp]="countUp" [endVal]="1000" [duration]="3">0</h1>
      <h2>Hours Worked</h2>
    </div>
    <div class="vertical-flex">
      <h1 [countUp]="countUp" [endVal]="30000" [duration]="3">0</h1>
      <h2>Lines Of Code Written</h2>
    </div>
    <div class="vertical-flex">
      <h1 [countUp]="countUp" [endVal]="50" [duration]="3">0</h1>
      <h2>Projects Completed</h2>
    </div>
  </div>
</div>
<div class="scroll-magic">
  <div class="left" id="left1">
    <h1 [style.color]="textColor">Introduction</h1>
  </div>
  <div class="right" id="right1" #right1>
    <h2>Hi, I'm a Student, a Freelancer, a Consultant and a Traveller from Nagpur, India.</h2>
    <h3>I am doing major in Electronics and Communications (Yeah, I know how strange this is my interest being in Computer Science. But, that's a story for another time) from an Engineering College here in Nagpur.</h3>
    <br>
    <br>
    <br>
    <h2>Before I got into development and coding, I was a full-time gamer.</h2>
    <h3>But that all changed when I was tasked to learn basic web development (Simple HTML/CSS) to build a website for a College Club I was in at the time. This was back in 2015.</h3>
    <br>
    <br>
    <br>
    <h2>And I haven't looked back ever since.</h2>
    <h3>This is more evident from the fact that I got a Macbook soon after, leaving my gaming life behind.</h3>
    <br>
    <br>
    <br>
    <h2>Now, I work as a Freelance Full-Stack Developer.</h2>
    <h3>Upwork being my primary source of work, I have worked on a wide range of projects. I also accept a few jobs that I get from connections of my friends and family.</h3>
  </div>
  <div class="left" id="left2">
    <h1>Work History</h1>
  </div>
  <div class="right" id="right2" #right2>
    <h2>I started my development career as a simple task to build a static website for a College Club.</h2>
    <h3>This was back in 2015. I was a part of a REEF – an Environment Club at my college. I was tasked with building a simple informational website for the club. This was also my first time learning on Udemy and first time coding.</h3>
    <br>
    <br>
    <br>
    <h2>After learning a few things here and there, I came across the concept of freelancing.</h2>
    <h3>I immediately fell in love with it as I know that this is the only kind of job I can work with which will allow me to attend college, work, and travel. I started out with websites like Fiverr and Freelancer.com but then, I came to know about Upwork and it became the sole platform for finding online work for me.</h3>
    <br>
    <br>
    <br>
    <h2>But, I haven't had much success as a freelancer until I was offered to join the development team at Greater Commons by it's Founder Todd McLeod.</h2>
    <h3>I was taking Todd's Golang course on Udemy and so I knew that Greater Commons was in development. One day, I messaged Todd on Twitter to read my blog (my first blog) if he could and let me know how I did. To my surprise he offered me to join the development team at Greater Commons as a Junior Developer.</h3>
    <br>
    <br>
    <br>
    <h2>This was when I realized what was missing – I wasn't good enough.</h2>
    <h3>Despite me becoming a Full Stack Developer by the time I got into Greater Commons, I realized that I was yet to learn a lot. I took it as a challenge, started learning as much as I could through working with the Greater Commons Team and through blogs, courses, anything else I could find, and did a fairly good job there.</h3>
    <br>
    <br>
    <br>
    <h2>After a few months at Greater Commons, I finally got my first job on Upwork.</h2>
    <h3>Since then, I've come a long way as a developer. I believe that every job is also a learning experience in itself. I have worked with a lot of clients on Upwork ranging from designers and developers to founders and project managers and have worked on a wide array of projects.</h3>
  </div>
  <div class="left" id="left3">
    <h1 [style.color]="textColor">Philosophy</h1>
  </div>
  <div class="right" id="right3" #right3>
    <p>A very long content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consequatur ex fugit itaque iure laudantium molestiae nesciunt officiis omnis qui quia, quidem, quisquam voluptate voluptates? Accusantium at impedit voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque dolores ipsam libero maiores nobis sed voluptas? Asperiores enim, explicabo fugiat maiores nostrum quaerat ullam. Esse expedita facere porro quam.</p>
  </div>
  <div class="left" id="left4">
    <h1>Technical Skills</h1>
  </div>
  <div class="right" id="right4" #right4>
    <app-skills [showSkills]="showSkills" [barColor]="barColor"></app-skills>
  </div>
</div>

