<div class="scroll-magic">
  <div class="left" id="left1">
    <h1>Introduction</h1>
  </div>
  <div class="right" id="right1" #right1>
    <h2>Hi, I'm a Student, a Freelancer, a Consultant and a Traveller from Nagpur, India.</h2>
    <h3>I am doing major in Electronics and Communications (Yeah, I know how strange this is my interest being in Computer Science. But, that's a story for another time) from an Engineering College here in Nagpur.</h3>
    <br>
    <br>
    <br>
    <h2>Before I got into development and coding, I was a full-time gamer.</h2>
    <h3>But that all changed when I was tasked to learn basic web development (Simple HTML/CSS) to build a website for an NGO I was in at the time. This was back in 2015.</h3>
    <br>
    <br>
    <br>
    <h2>And I haven't looked back ever since.</h2>
    <h3>This is more evident from the fact that I got a Macbook soon after, leaving my gaming life behind.</h3>
    <br>
    <br>
    <br>
    <h2>Now, I work as a Freelance Full-Stack Developer.</h2>
    <h3>Upwork being my primary source of work, I have worked on a wide range of projects. I also accept a few jobs that I get from connections of my friends and family.</h3>
  </div>
  <div class="left" id="left2">
    <h1>Work History</h1>
  </div>
  <div class="right" id="right2" #right2>
    <p>A very long content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consequatur ex fugit itaque iure laudantium molestiae nesciunt officiis omnis qui quia, quidem, quisquam voluptate voluptates? Accusantium at impedit voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque dolores ipsam libero maiores nobis sed voluptas? Asperiores enim, explicabo fugiat maiores nostrum quaerat ullam. Esse expedita facere porro quam.</p>
  </div>
  <div class="left" id="left3">
    <h1>Philosophy</h1>
  </div>
  <div class="right" id="right3" #right3>
    <p>A very long content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consequatur ex fugit itaque iure laudantium molestiae nesciunt officiis omnis qui quia, quidem, quisquam voluptate voluptates? Accusantium at impedit voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque dolores ipsam libero maiores nobis sed voluptas? Asperiores enim, explicabo fugiat maiores nostrum quaerat ullam. Esse expedita facere porro quam.</p>
  </div>
  <div class="left" id="left4">
    <h1>Technical Skills</h1>
  </div>
  <div class="right" id="right4" #right4>
    <p>A very long content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consequatur ex fugit itaque iure laudantium molestiae nesciunt officiis omnis qui quia, quidem, quisquam voluptate voluptates? Accusantium at impedit voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque dolores ipsam libero maiores nobis sed voluptas? Asperiores enim, explicabo fugiat maiores nostrum quaerat ullam. Esse expedita facere porro quam.</p>
  </div>
</div>

