<div class="about-content about-content-white">
  <h2>I started my development career as a simple task to build a static website for a College Club.</h2>
  <h3>This was back in 2015. I was a part of a REEF – an Environment Club at my college. I was tasked with building a simple informational website for the club. This was also my first time learning on Udemy and first time coding.</h3>
  <br>
  <br>
  <br>
  <h2>After learning a few things here and there, I came across the concept of freelancing.</h2>
  <h3>I immediately fell in love with it as I know that this is the only kind of job I can work with which will allow me to attend college, work, and travel. I started out with websites like Fiverr and Freelancer.com but then, I came to know about Upwork and it became the sole platform for finding online work for me.</h3>
  <br>
  <br>
  <br>
  <h2>But, I haven't had much success as a freelancer until I was offered to join the development team at Greater Commons by it's Founder Todd McLeod.</h2>
  <h3>I was taking Todd's Golang course on Udemy and so I knew that Greater Commons was in development. One day, I messaged Todd on Twitter to read my blog (my first blog) if he could and let me know how I did. To my surprise he offered me to join the development team at Greater Commons as a Junior Developer.</h3>
  <br>
  <br>
  <br>
  <h2>This was when I realized what was missing – I wasn't good enough.</h2>
  <h3>Despite me becoming a Full Stack Developer by the time I got into Greater Commons, I realized that I was yet to learn a lot. I took it as a challenge, started learning as much as I could through working with the Greater Commons Team and through blogs, courses, anything else I could find, and did a fairly good job there.</h3>
  <br>
  <br>
  <br>
  <h2>After a few months at Greater Commons, I finally got my first gig on Upwork.</h2>
  <h3>Since then, I've come a long way as a developer. I believe that every job is also a learning experience in itself. I have worked with a lot of clients on Upwork ranging from designers and developers to founders and project managers and have worked on a wide array of projects.</h3>
</div>
