/* You can add global styles to this file, and also import other style files */
@import '_font-awesome.scss';
@import '_blog-post.scss';

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;

  &.no-scroll {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  height: 20px;
  //width: 100px;
}

.horizontal-flex {
  display: flex;
  flex-wrap: nowrap;

  &.wrap {
    flex-wrap: wrap;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

.animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}

.about-content {
  h1, h2, h3 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    margin: 10px 0;
    transition: color 4s linear;
    text-align: left;
    font-weight: 500;
  }

  h1 {
    font-size: 50px;
    font-weight: 700 !important;
  }

  &.about-content-granim {
    h1, h2, h3, p {
      color: #fff;
    }
  }

  &.about-content-white {
    h1, h2, h3, p {
      color: #1b1b1b;
    }
  }

  &.mobile {
    h2 {
      font-size: 5vw;
    }

    h3 {
      font-size: 4vw;
    }
  }
}

.lightbox {
  .info-container {
    a {
      color: #fff !important;
      transition: opacity 0.4s;

      &:link, &:visited {
        opacity: 0.7 !important;
      }

      &:hover, &:active {
        opacity: 1 !important;
      }
    }
  }

  .tag-wrapper {
    justify-content: flex-start !important;
    padding: 0 !important;
  }
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

ng-progress[thick=true] .ng-bar-placeholder {
  height: 6px !important;

  @media (max-width: 1000px) {
    height: 4px !important;
  }
}

a.cta {
  flex: 0 0 14vw;
  width: 14vw;
  height: 2.77vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Work Sans', monospace;
  font-size: 1.25vw;
  color: #fff;
  background: #1a1c1a;
  text-decoration: none;
  z-index: 2;
  box-shadow: 0.3em 0.3em 0 0 #69a75f;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

a.cta:hover {
  box-shadow: 0.4em 0.4em 0 0 #1a1c1a;
  background: #69a75f;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

