<div class="contact"
     [class.mobile]="isMobile"
     [ngsRevealSet]="{ delay: 300, duration: 1050, distance: '100px', rotate: { x: 90 }}"
     [ngsInterval]="150"
     [ngsSelector]="'.ngs-set'">
  <a class="ngs-set" href="mailto:anshap1719@gmail.com?subject=Hello%20Anshul" target="_blank"><i class="fas fa-envelope"></i>&nbsp;&nbsp;anshap1719@gmail.com</a>
  <br>
  <a class="ngs-set" href="mailto:contact@anshulsanghi.me?subject=Business%20Enquiry" target="_blank"><i class="fas fa-envelope"></i>&nbsp;&nbsp;contact@anshulsanghi.me</a>
  <br>
  <a class="ngs-set" href="facetime://7020670390" target="_blank"><i class="fas fa-phone"></i>&nbsp;&nbsp;7020670390</a>
  <br>
  <div class="social-media">
    <a class="ngs-set" href="https://twitter.com/anshap1719" target="_blank"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
    <br>
    <a class="ngs-set" href="https://linkedin.com/in/anshap1719" target="_blank"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
    <br>
  </div>
</div>
