.count-up {
  margin: auto;

  h1, h2 {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  h1 {
    font-size: 6.25vw;
  }

  h2 {
    font-size: 1.66vw;
  }

  .vertical-flex {
    flex: 0 0 33.333333%;
  }
}

h1, h2, h3 {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  margin: 10px 0;
}
