<div class="count-up" ngsReveal>
  <div class="horizontal-flex justify-between">
    <div class="vertical-flex">
      <h1 [countUp]="countUp" [endVal]="1000" [duration]="3">0</h1>
      <h2>Hours Worked</h2>
    </div>
    <div class="vertical-flex">
      <h1 [countUp]="countUp" [endVal]="30000" [duration]="3">0</h1>
      <h2>Lines Of Code Written</h2>
    </div>
    <div class="vertical-flex">
      <h1 [countUp]="countUp" [endVal]="50" [duration]="3">0</h1>
      <h2>Projects Completed</h2>
    </div>
  </div>
</div>
