<div class="contact"
     [class.mobile]="isMobile"
     [ngsReveal]="ngsFormRevealConfig">
  <form class="vertical-flex"
        [ngsRevealSet]="{ delay: 1500, duration: 450, distance: '100px', scale: 0.7 }"
        [ngsInterval]="150"
        [ngsSelector]="'.field'"
        autocomplete="nope"
        #formElem="ngForm">
    <div [class.field]="!isMobile" style="perspective: 1px;">
      <input
        required
        type="text"
        placeholder="Your Name Please?"
        autocomplete="nope"
        [(ngModel)]="form.name"
        name="nopeName"
        #nameModel="ngModel"
        minlength="2"
        [attr.autofocus]="!isMobile"
        [class.invalid-input]="form.name.length < 2 && (nameModel.dirty || nameModel.touched || submitAttempt)">
    </div>
    <div [class.field]="!isMobile" style="perspective: 1px;">
      <input
        required
        type="email"
        placeholder="And Your Email?"
        autocomplete="nope"
        [(ngModel)]="form.email"
        name="nopeEmail"
        #emailModel="ngModel"
        [class.invalid-input]="(form.email === '' || invalidEmail) && (emailModel.dirty || emailModel.touched || submitAttempt)"
        (keydown)="checkEmail()">
    </div>
    <div [class.field]="!isMobile" class="textarea" style="perspective: 1px;">
      <textarea
        placeholder="Message"
        [(ngModel)]="form.message"
        name="nopeMessage"
        #messageModel="ngModel"
        [class.invalid-input]="form.message === ''  && (messageModel.dirty || messageModel.touched || submitAttempt)"></textarea>
    </div>
    <div [class.field]="!isMobile" style="text-align: center">
      <button class="mail-btn" type="button" (click)="sendForm()" [class.fly]="isFlying">send</button>
    </div>
  </form>
</div>
