<div class="contact" [ngsReveal]="{ delay: 800, duration: 1100, distance: '100px', origin: 'right', scale: 0.7 }">
  <form class="vertical-flex" [ngsRevealSet]="{ delay: 1500, duration: 450, distance: '100px', scale: 0.7 }" [ngsInterval]="150" [ngsSelector]="'.field'" autocomplete="nope">
    <div class="field" style="perspective: 1px;">
      <input type="text" placeholder="Your Name Please?" autocomplete="nope" [(ngModel)]="form.name" name="name">
    </div>
    <div class="field" style="perspective: 1px;">
      <input type="email" placeholder="And Your Email?" autocomplete="nope" [(ngModel)]="form.email" name="email">
    </div>
    <div class="field textarea" style="perspective: 1px;">
      <textarea placeholder="Message" [(ngModel)]="form.message" name="message"></textarea>
    </div>
    <div class="field">
      <button class="mail-btn" type="button" (click)="sendForm()" [class.fly]="isFlying">send</button>
    </div>
  </form>
</div>
