<div class="horizontal-flex align-center hide-on-init" ngsReveal [@.disabled]="isMobile" [class.mobile]="isMobile">
  <div class="image" [@image]="urlState" (@image.start)="changeAnimateImageState($event)" [style.text-align]="imageMargin" [style.padding-left]="imagePadding">
    <img src="/assets/me.png" alt="" [@animateImage]="{value: animateImage, params: { width: width }}">
  </div>
  <div class="content" [@text]="{value: urlState, params: { scale: scale }}" (@text.start)="changeAnimateTextState($event)">
    <div class="outer">
      &nbsp;
      <div class="inner">
        <div [class.left]="!animateText && !isMobile" [class.center]="animateText || isMobile">
          <h1>Anshul Sanghi</h1>
        </div>
      </div>
    </div>
    <br>
    <h1><span>Consultant | Student | Freelancer</span></h1>
  </div>
</div>
<div class="cta hide-on-init" ngsReveal>
  <a class="cta" href="https://upwork.com" target="_blank">Hire Me On Upwork</a>
</div>
