.horizontal-flex {
  max-width: 80vw;
  margin: 3.472vw auto 0;
  position: relative;

  div.image {
    max-width: 30%;
    text-align: center;
    will-change: transform, padding;

    img {
      margin: auto;
      will-change: transform, width;
    }
  }

  .content {
    padding: 0 2.77vw;
    will-change: transform;
  }

  @media (max-width: 700px) {
    max-width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    & > div {
      flex: 1 1 100% !important;
    }

    div.image {
      max-width: 40%;
    }

    h1 {
      font-size: 8vw;
      margin-top: 30px;

      span {
        font-size: 4vw;
      }
    }
  }
}

h1 {
  font-size: 3.472vw;
  color: #fff;

  span {
    font-size: 2.77vw;
  }
}

.outer {
  height: 2.77vw;
  margin: 0.694vw 0;
  position: relative;
}
.inner > div {
  position: absolute;
  line-height: 2.77vw;
  top: 0;
  white-space: nowrap;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;

  &.left {
    left: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &.center {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

div.cta {
  @media (min-width: 701px) {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  a.cta {
    width: 300px;
    flex: 0 0 300px;
    font-size: 5vw;
    height: 50px;
    margin-top: 30px;
  }
}
