.horizontal-flex {
  max-width: 80vw;
  margin: 3.472vw auto 0;
  position: relative;

  div.image {
    max-width: 30%;
    text-align: center;

    img {
      margin: auto;
    }
  }

  .content {
    padding: 0 2.77vw;
  }
}

h1 {
  font-size: 3.472vw;
  color: #fff;

  span {
    font-size: 2.77vw;
  }
}

.outer {
  height: 2.77vw;
  margin: 0.694vw 0;
  position: relative;
}
.inner > div {
  position: absolute;
  line-height: 2.77vw;
  top: 0;
  white-space: nowrap;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;

  &.left {
    left: 0;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &.center {
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
