<div class="horizontal-flex align-center hide-on-init" ngsReveal>
  <div class="image" [@image]="urlState" (@image.start)="changeAnimateImageState($event)">
    <img src="/assets/me.png" alt="" [@animateImage]="animateImage">
  </div>
  <div class="content" [@text]="urlState" (@text.start)="changeAnimateTextState($event)">
    <div class="outer">
      &nbsp;
      <div class="inner">
        <div [class.left]="!animateText" [class.center]="animateText">
          <h1>Anshul Sanghi</h1>
        </div>
      </div>
    </div>
    <br>
    <h1><span>Consultant | Student | Freelancer</span></h1>
  </div>
</div>
