/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  height: 20px;
  //width: 100px;
}

.horizontal-flex {
  display: flex;
  flex-wrap: nowrap;

  &.wrap {
    flex-wrap: wrap;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

.animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}

.about-content {
  h1, h2, h3 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    margin: 10px 0;
    transition: color 4s linear;
    text-align: justify;
    font-weight: 500;
  }

  h1 {
    font-size: 50px;
    font-weight: 700 !important;
  }

  &.about-content-granim {
    h1, h2, h3, p {
      color: #fff;
    }
  }

  &.about-content-white {
    h1, h2, h3, p {
      color: #1b1b1b;
    }
  }
}

.lightbox {
  .info-container {
    a {
      color: #fff !important;
      transition: opacity 0.4s;

      &:link, &:visited {
        opacity: 0.7 !important;
      }

      &:hover, &:active {
        opacity: 1 !important;
      }
    }
  }

  .tag-wrapper {
    justify-content: flex-start !important;
    padding: 0 !important;
  }
}

::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
