.tag-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.tag {
  margin: 5px 10px 5px 0;
}

.tag label {
  padding: 7px 18px;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background-color: #9733EE;
  font-weight: 700;
}
